#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    macros {
        nvimq: nvimq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp COLON &kp Q &kp EXCL &kp RET>;
            label = "NVIMQ";
        };

        nvimw: nvimw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp COLON &kp W &kp RET>;
            label = "NVIMW";
        };

        nvimwq: nvimwq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp COLON &kp W &kp Q &kp RET>;
            label = "NVIMWQ";
        };

        alttab: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LEFT_ALT &kp TAB>;
            label = "NEW_MACRO";
        };

        ctrlalttab: ctrlalttab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LCTRL &kp LEFT_ALT &kp TAB>;
            label = "CTRLALTTAB";
        };

        backdir: backdir {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp DOT &kp DOT &kp FSLH>;
            label = "BACKDIR";
        };

        braceenter: braceenter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LBRC &kp RET>;
            label = "BRACEENTER";
        };

        btt0: bt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &bt BT_SEL 0 &tog 0>;
            label = "BT1";
        };

        btt1: btt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &bt BT_SEL 1 &tog 0>;
            label = "BTT1";
        };

        btt2: btt2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &bt BT_SEL 2 &tog 0>;
            label = "BTT2";
        };

        btt3: btt3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &bt BT_SEL 3 &tog 0>;
            label = "BTT3";
        };

        btt4: btt4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &bt BT_SEL 4 &tog 0>;
            label = "BTT4";
        };
    };

    combos {
        compatible = "zmk,combos";

        mo_misc {
            bindings = <&mo 3>;
            key-positions = <43 46>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB     &kp Q  &kp W  &kp E         &kp R      &kp T                    &trans          &kp Y      &kp U  &kp I       &kp O    &kp P     &kp BACKSPACE
&kp LSHIFT  &kp A  &kp S  &kp D         &kp F      &kp G            &trans  &tog 4  &trans  &kp H      &kp J  &kp K       &kp L    &kp SEMI  &kp SQT
&kp LCTRL   &kp Z  &kp X  &kp C         &kp V      &kp B  &trans            &trans          &kp N      &kp M  &kp COMMA   &kp DOT  &kp FSLH  &kp RCTRL
                          &kp LEFT_ALT  &kp SPACE  &mo 1                                    &kp ENTER  &mo 2  &kp ESCAPE
            >;
        };

        navigation {
            bindings = <
&trans  &nvimq          &nvimw    &nvimwq      &alttab  &trans                    &trans          &trans    &trans    &trans        &trans     &trans  &trans
&trans  &sk LEFT_SHIFT  &kp CAPS  &ctrlalttab  &kp F15  &trans            &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&trans  &trans          &trans    &trans       &trans   &trans  &trans            &trans          &trans    &trans    &trans        &trans     &trans  &trans
                                  &trans       &trans   &trans                                    &trans    &trans    &trans
            >;

            label = "nav";
        };

        symbol {
            bindings = <
&trans  &kp GRAVE  &kp LESS_THAN  &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp TILDE                    &trans          &kp AMPERSAND  &kp SINGLE_QUOTE  &kp LBKT              &kp RBKT               &kp PERCENT   &trans
&trans  &kp EXCL   &kp MINUS      &kp PLUS          &kp EQUAL          &kp HASH             &trans  &trans  &trans  &kp PIPE       &kp COLON         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT        &trans
&trans  &kp CARET  &kp FSLH       &kp ASTERISK      &kp BSLH           &kp UNDER  &trans            &trans          &backdir       &kp DOLLAR        &braceenter           &kp RIGHT_BRACE        &kp QUESTION  &trans
                                  &trans            &trans             &trans                                       &trans         &trans            &trans
            >;

            label = "symb";
        };

        misc {
            bindings = <
&kp F12  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &trans          &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&trans   &kp N1  &kp N2  &kp N3  &kp N4  &kp N5            &trans  &trans  &trans  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0   &trans
&trans   &trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans  &trans  &trans  &trans  &trans   &trans
                         &trans  &trans  &trans                                    &trans  &trans  &trans
            >;

            label = "misc";
        };

        debug_bt {
            bindings = <
&trans  &trans      &trans          &trans  &trans  &trans                        &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &btt0       &btt1           &btt2   &btt3   &btt4             &bt BT_PRV  &trans  &bt BT_NXT  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_CLR  &bt BT_CLR_ALL  &trans  &trans  &trans  &trans                &trans              &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans  &trans  &trans                                            &trans  &trans  &trans
            >;

            label = "dbg_bt";
        };
    };
};
